.visualizer {
    padding: 30px 0;
}

.visualizer_subcaption {
    font-size: 0.8em;
    font-weight: 300;
}

.visualizer_segmentContainer {
    background-color: #F2F2F2;
    margin: 30px 0;
}

.visualizer_segmentContainer + .visualizer_segmentContainer {
    margin-top: 40px;
}

.visualizer_segment {
    width: 85%;
    margin: 20px auto 20px auto;
    padding: 25px 0;
}

.visualizer_graph {
    margin: 20px 0;
}

.visualizer_noData {
    line-height: 10em;
}
