html, body, #root {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

.ui.header {
  text-align: center;
  font-weight: 400;
  padding: 0 3ch;
}

.ui.message {
  text-align: center;
}

.ui.dropdown .menu {
  max-height: 35vh !important; /* https://github.com/Semantic-Org/Semantic-UI/issues/5384#issuecomment-310713325 */
}
